.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  background-color: #2c3e50;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; 
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 1000; 
}

.navbar-container {
  width: 100%; 
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-link:hover {
  background-color: #34495e;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px; /* Adjust as needed */
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.login-btn {
  background-color: #563ce7;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-btn {
  margin-left: auto;
  background-color: #e74c3c;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #4a32c4;
}

.logout-btn:hover {
  background-color: #c0392b;
}

body {
  margin: 0; /* Remove default margin to prevent gaps */
  padding-top: 60px; /* Adjust for fixed navbar height */
}
